*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    /* font-weight: 60px; */
}
nav {
    background-color: #8d99ae;
    height: 60px;
    /* display: flex; */
    /* position: fixed; */
}

label.Logo2 {
    color: white;
    font-size: 20px;
    padding: 0 100px;
    font-weight: bold;
    line-height: 75px;
    /* font-weight: ; */
    /* font-family: cursive; */
}

nav ul {
    float:  right;
    /* justify-content: space-evenly; */
    margin-right: 60px;
    /* padding-left: 200px; */
   
}

nav ul li {
    display: inline-block;
    /* padding-right: ; */
    line-height: 75px;
    margin: 0 16px;
}

nav ul li a  {
    color: black;
    font-weight: bold;
    /* text-transform: uppercase; */
}

a.active, a:hover{
    color: blue;
    border-bottom: 2px solid blue;
    
}
/* body{
    font-family: monospace;
} */

.panel1{

    height: 400px;
    /* width: 100px; */
    background-color: #6f7bf7;
    /* position: relative; */
}

#HI {
    position: relative;
    padding-top: 80px;
    padding-left: 100px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#name {
    position: relative;
    padding-top: 18px;
    padding-left: 100px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
