*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    /* font-weight: 60px; */
}
nav {
    background-color: #8d99ae;
    height: 60px;
    /* display: flex; */
}

label.Logo2 {
    color: white;
    font-size: 20px;
    padding: 0 100px;
    font-weight: bold;
    line-height: 75px;
    /* font-weight: ; */
    /* font-family: cursive; */
}

nav ul {
    float:  right;
    /* justify-content: space-evenly; */
    margin-right: 60px;
    /* padding-left: 200px; */
   
}

nav ul li {
    display: inline-block;
    line-height: 75px;
    margin: 0 5px;
}

nav ul li a  {
    color: black;
    font-weight: bold;
    /* text-transform: uppercase; */
}

a.active, a:hover{
    color: blue;
    border-bottom: 2px solid blue;
    
}